@charset "UTF-8";

* {
    margin: 0;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 4em;
    padding-top: 50px;
    font-weight: bold;
}

header p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}